/* stylelint-disable no-descending-specificity */

html,
body {
  height: 100%;
}

#__nuxt,
#__layout {
  height: 100%;
}

.page-wrapper {
  height: 100%;
}

/* =========================== sidebar start =========================== */

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #053338;
  color: #fff;
  overflow-y: auto;
}

.sidebar__header-logo img {
  width: 160px;
}

.sidebar__header-menu {
  font-size: 20px;
  cursor: pointer;
}

.sidebar__header-title {
  font-size: 20px;
}

.sidebar__nav {
  padding: 0;
  list-style: none;
}

.sidebar__nav-item {
  cursor: pointer;
  transition: 0.3s;
}

.sidebar__nav-item.active {
  background-color: #406367;
}

.sidebar__nav-item:hover {
  background-color: #406367;
}

.sidebar__footer-list {
  padding: 0;
  list-style: none;
}

.sidebar__footer-list .list-item {
  cursor: pointer;
  transition: 0.3s;
}

.sidebar__footer-list .list-item:hover {
  background-color: #406367;
}

.sidebar__footer-list .list-item.signout {
  color: #168cc7;
}

/* =========================== sidebar end =========================== */

/* =========================== header start =========================== */

.header {
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 86px;
  background-color: #053338;
  color: #fff;
}

.header__items {
  list-style: none;
  column-gap: 16px;
  margin-bottom: 0;
}

.header__items-item {
  position: relative;
  cursor: pointer;
}

.header__items-item .notification-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #90d2f9;
  font-size: 10px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.header__items-item.faq {
  font-size: 12px;
}

/* =========================== header end =========================== */

/* =========================== main start =========================== */

.main-content {
  position: absolute;
  top: 86px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 86px);
  background-color: #fbfbfb;
  overflow-y: auto;
}

.main__tabs {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  display: flex;
  column-gap: 5px;
}

.main__tabs-tab {
  cursor: pointer;
  padding: 0 20px 8px;
  color: #a1a1a1;
  border-bottom: 4px solid #dcdcdc;
}

.main__tabs-tab.active {
  color: #000;
  border-bottom: 4px solid #1fafd9;
}

/* =========================== main end =========================== */

.filters__main {
  background-color: #f4f4f4;
  padding: 8px;
}

/* =========================== filters head start =========================== */

.filters__head {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.filters__head span {
  color: #167795;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.3s;
}

.filters__head span:hover {
  background-color: #ddd;
}

/* =========================== filters head end =========================== */

/* =========================== filters fields start =========================== */

.filters__fields {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 16px;
}

.filters__fields .work-type {
  width: 200px;
}

.filters__fields .origin {
  width: 250px;
}

.filters__fields .radius {
  width: 120px;
}

.filters__fields .destination {
  width: 360px;
}

.filters__fields .excluded-cities {
  width: 230px;
}

.filters__fields .start-date,
.filters__fields .end-date,
.filters__fields .start-time,
.filters__fields .end-time {
  width: 150px;
}

.filters__fields .trailer-status {
  width: 280px;
}

.filters__fields .equipment {
  width: 280px;
}

.filters__fields .load-type {
  width: 280px;
}

.filters__fields .driver-type {
  width: 280px;
}

.filters__fields .price,
.filters__fields .payout,
.filters__fields .stops {
  width: 300px;
}

.filters__fields .trip-length {
  width: 280px;
}

.filters__fields .min-hours,
.filters__fields .max-hours {
  width: 160px;
}

.filters__fields .min-hours .label,
.filters__fields .max-hours .label {
  left: 0.75rem !important;
}

/* =========================== filters fields end =========================== */

/* =========================== filters footer start =========================== */

.filters__footer .more-less {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.3s;
}

.filters__footer .more-less span {
  color: #167795;
}

.filters__footer .more-less:hover {
  background-color: #ddd;
}

/* =========================== filters footer end =========================== */

/* =========================== filters result start =========================== */

.selected-filters__tag {
  position: relative;
  padding: 4px 8px;
  padding-right: 28px;
  background-color: #bfecf8;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  margin-right: 16px;
}

.selected-filters__tag .tag-close {
  position: absolute;
  top: 50%;
  right: 4px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #167795;
  color: #bfecf8;
  border-radius: 50%;
  cursor: pointer;
}

.selected-filters__btns {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.selected-filters__btns span {
  color: #167795;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.3s;
}

.selected-filters__btns span:hover {
  background-color: #ddd;
}

.selected-filters__controls {
  column-gap: 20px;
}

.selected-filters__controls .range {
  width: 200px;
  margin-top: 8px;
}

.multi-range-slider {
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  width: 100% !important;
}

.multi-range-slider .ruler {
  display: none !important;
}

.multi-range-slider .label {
  display: none !important;
}

.multi-range-slider .bar-left,
.multi-range-slider .bar-inner,
.multi-range-slider .bar-right {
  box-shadow: none !important;
  border: 1px solid silver !important;
  background-color: white !important;
}

.multi-range-slider .bar-inner {
  background-color: #bfecf8 !important;
}

.multi-range-slider .thumb::before {
  border: none !important;
  box-shadow: none !important;
  background-color: #167795 !important;
  margin: -5px !important;
}

.results__controls {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 18px;
}

.results__controls .refresh-text {
  font-size: 12px;
}

.results__controls svg {
  cursor: pointer;
}

.results__date {
  color: #1d8b96;
}

.results__date span,
.results__date svg {
  cursor: pointer;
}

.results__play-btn {
  color: #1d8b96;
  font-size: 32px;
}

.results__play-btn svg {
  cursor: pointer;
  margin-right: 40px;
}

/* =========================== filters result end =========================== */

/* =========================== board end =========================== */
.board__list {
  overflow-x: auto;
}

.board__item {
  display: flex;
  align-items: center;
  border: 1px solid silver;
  padding: 8px;
  border-radius: 6px;
  min-width: 1520px;
}

.board__item .selected {
  background-color: #dff8a7;
}

.board__head .name {
  font-size: 15px;
}

.board__number {
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #167795;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board__from .date,
.board__to .date {
  font-size: 15px;
}

.board__arrow {
  font-size: 20px;
}

.board__info .time {
  font-size: 15px;
}

.board__requirements .subheading {
  font-size: 15px;
}

.board__requirements svg {
  color: #000;
}

.board__status {
  margin-left: 100px;
  margin-right: 100px;
}

.board__result .price-per-mile {
  font-size: 15px;
}

.board__button button {
  outline: none !important;
  border: none !important;
  color: #fff;
  width: 140px;
  border-radius: 5px;
  background-color: #117b9a;
  padding: 8px 0;
}

.board__button button:disabled {
  pointer-events: none;
  opacity: 0.6;
  color: #ccc;
}

/* =========================== board end =========================== */

/* =========================== ui styles start =========================== */
.multiselect {
  position: static !important;
}

.multiselect__tags-wrap {
  display: none !important;
}

.multiselect__tags {
  border: 1px solid #000 !important;
  cursor: pointer !important;
}

.multiselect__content-wrapper {
  border: 1px solid #000 !important;
  z-index: 999999 !important;
}

.multiselect__content-wrapper .multiselect__option--highlight {
  background-color: #107c99;
  font-weight: normal !important;
  color: #fff !important;
}

.multiselect__content-wrapper .multiselect__option--selected {
  background-color: #0e6883;
  font-weight: normal !important;
  color: #fff !important;
}

.multiselect__content-wrapper .multiselect__option--selected::before {
  content: '✓';
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.select-field {
  position: relative;
}

.select-field .label {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 9999;
  transition: 0.3s;
  pointer-events: none;
}

.select-field .label.active {
  font-size: 12px;
  top: 2px;
}

.select-field .value {
  font-size: 15px;
  position: absolute;
  bottom: 3px;
  left: 8px;
  z-index: 9999;
  pointer-events: none;
}

.date-field,
.time-field,
.input-field {
  position: relative;
}

.b-form-datepicker,
.b-form-timepicker {
  border: 1px solid #000 !important;
  height: 100% !important;
}

.b-form-datepicker > button,
.b-form-timepicker > button {
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  overflow: hidden;
}

.b-form-datepicker label,
.b-form-timepicker label {
  padding-left: 0.75rem !important;
  padding-right: 44px !important;
  padding-top: 14px !important;
  padding-bottom: 0 !important;
  font-size: 15px !important;
  color: #000 !important;
}

.date-field > svg,
.time-field > svg {
  position: absolute;
  top: 50%;
  right: 10px;
  pointer-events: none;
  transform: translateY(-50%);
}

.date-field .dropdown-menu,
.time-field .dropdown-menu {
  z-index: 9999999999999999999999;
}

.date-field .label,
.time-field .label {
  position: absolute;
  top: 8px;
  left: 12px;
  z-index: 9999;
  transition: 0.3s;
  pointer-events: none;
}

.date-field .label.active,
.time-field .label.active {
  font-size: 12px;
  top: 2px;
}

.input-field .form-control {
  border: 1px solid #000 !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 15px;
  color: #000;
  padding-bottom: 0 !important;
  padding-top: 14px !important;
  height: 40px !important;
}

.input-field .input-group-text {
  border: 1px solid #000 !important;
  border-right: none !important;
}

.input-field .label {
  position: absolute;
  top: 8px;
  left: 46px;
  z-index: 9999;
  transition: 0.3s;
  pointer-events: none;
}

.input-field .label.active {
  font-size: 12px;
  top: 2px;
}
