html,
body {
  height: 100%;
}

#__nuxt,
#__layout {
  height: 100%;
}

.page-wrapper {
  height: 100%;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #053338;
  color: #fff;
}

.sidebar__header-logo img {
  width: 160px;
}

.sidebar__header-menu {
  font-size: 20px;
  cursor: pointer;
}

.sidebar__header-title {
  font-size: 20px;
}

.sidebar__nav {
  padding: 0;
  list-style: none;
}

.sidebar__nav-item {
  cursor: pointer;
  transition: 0.3s;
}

.sidebar__nav-item.active {
  background-color: #406367;
}

.sidebar__nav-item:hover {
  background-color: #406367;
}

.sidebar__footer-list {
  padding: 0;
  list-style: none;
}

.sidebar__footer-list .list-item {
  cursor: pointer;
  transition: 0.3s;
}

.sidebar__footer-list .list-item:hover {
  background-color: #406367;
}

.sidebar__footer-list .list-item.signout {
  color: #168cc7;
}

.header {
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 70px;
  background-color: #053338;
  color: #fff;
}

.main-content {
  position: absolute;
  top: 70px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 70px);
  background-color: #fbfbfb;
}
